name: 'Deploy Nginx Stack to AWS Environment'
run-name: 'Deploy Nginx Stack to ${{ inputs.environment }} AWS Environment from ${{ github.ref_name }}'

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch: # Allow manual deployments
    inputs:
      environment:
        type: environment
        description: Deployment Environment

env:
  AWS_REGION: "ap-southeast-2"

jobs:
  deploy_nginx:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Configure AWS Account Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ secrets.DEPLOY_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-skip-session-tagging: true
          role-duration-seconds: 900

      - uses: actions/setup-node@v4
        with:
          node-version: "20.12.0"

      - name: Install CDK dependencies and build
        run: npm ci --silent && npm run build --silent
        working-directory: ./nginx
        
      - name: Deploy stack
        run: |
          ENV_LOWER_CASE=$(echo ${{ inputs.environment  }} | awk '{print tolower($0)}') # Change env name to lower case for standardization
          npm run cdk -- deploy --context env=$ENV_LOWER_CASE --all --require-approval never
        working-directory: ./nginx
